<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="lib/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="lib/nprogress/nprogress.css">
</head>
<body>
<div class="left">
    <div class="head"><p>浙江大学</p></div>
    <div class="user">
        <img src="images/user.jpg" alt="">
        <p>超级管理员</p>
    </div>
    <div class="nav">
        <ul>
            <li><a href="user.html" ><i class="glyphicon glyphicon-user"></i><span>用户管理</span></a></li>
            <li><a href="#" class="list-type"><i class="glyphicon glyphicon-list"></i><span>分类管理</span></a>
                <a href="first.html" class="child" style="display: none">一级分类</a>
                <a href="second.html" class="child" style="display: none">二级分类</a>
            </li>
            <li><a href="product.html" class="current"><i class="glyphicon glyphicon-tags"></i><span>商品管理</span></a></li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="main-top">
        <a href="#" class="pull-left icon-left"><i class="glyphicon glyphicon-align-justify"></i></a>
        <a href="#" class="pull-right icon-right"><i class="glyphicon glyphicon-log-out"></i></a>
    </div>
    <div class="container-fluid main-area">

        <ol class="breadcrumb" style="margin-top: 20px">
            <li><a href="#">管理系统</a></li>
            <li class="active">商品管理</li>
        </ol>
        <div class="lt_content">
            <button class="btn btn-default" style="margin-bottom: 20px" id="addpro">添加商品</button>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="25%">商品名称</th>
                    <th width="25%">商品描述</th>
                    <th width="10%">商品库存</th>
                    <th width="10%">商品尺寸</th>
                    <th width="10%">商品状态</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="text-right">
                <ul id="paginator"></ul>
            </div>

        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="logoutmodel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p class="red"><i class="glyphicon glyphicon-info-sign"></i>您确定要退出后台管理系统吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="logout-btn">退出</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="addpromodel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
                                <span class="txt">请选择二级分类</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                            </ul>

                            <input type="hidden" name="brandId" id="hidden1">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品名称" name="proName">
                    </div>
                    <div class="form-group">
                        <textarea name="proDesc" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品库存" name="num">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品尺码" name="size">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品原价" name="oldPrice">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入商品现价" name="price">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" placeholder="请输入商品现价" name="statu">
                    </div>
                    <div class="form-group">
                        <label for="uploadpic" class="btn btn-default">上传图片</label>
                        <input type="file" id="uploadpic" style="display: none" name="pic1" data-url="/product/addProductPic" multiple>
                    </div>
                    <div class="form-group picbox">

                        <input type="hidden" name="picStatus">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="addlisttrue" >确定</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/html" id="tmp">
    {{ each rows v i }}

    <tr>
        <td>{{i+1+ (page-1)*size}}</td>
        <td>{{v.proName}}</td>
        <td>{{v.proDesc}}</td>
        <td>{{v.num}}</td>
        <td>{{v.size}}</td>
        <td>
            {{v.statu === 1?"已上架":"未上架"}}
        </td>
        <td data-id="{{v.id}}">
            {{if v.statu === 1}}
            <button class="btn btn-danger">下架</button>
        </td>
        {{/if}}
        {{if v.statu ===0}}
        <button class="btn btn-success">上架</button> </td>
        {{/if}}


    </tr>
    {{/each}}
</script>

<script type="text/html" id="droptmp">
    {{each rows v i}}
    <li><a href="#" data-id="{{v.id}}">{{v.brandName}}</a></li>
    {{/each}}
</script>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="js/common.js"></script>
<script src="js/product.js"></script>
<script src="lib/nprogress/nprogress.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/bootstrap-paginator/bootstrap-paginator.js"></script>
<script src="lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="lib/jquery-fileupload/jquery.fileupload.js"></script>
</body>
</html>